In [1]:
import tweepy
import datetime
from tweepy import Cursor

consumer_key = "RJu751Asy2vHaUaFSLGtGxWhx"
consumer_secret = "wvf4GLYEzP1Die5MRKd6DK1d0FCWiJKnMLJP1aQ7H28QBfIDRm" 
access_token = "1314603303796383746-hLWMOuVjFen5LOPQ7R600uJ6c38alm"
access_token_secret = "ZiLQteu4MuHxkKCjhaF0Oqt1znwDrkI37AdONbODVtFe8"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [2]:
def extract_tweets(query):
    tweets=[]
    for status in Cursor(api.search,lang="en",
                     q=query, tweet_mode = 'extended', retweet_mode = 'extended', truncated=False).items(2500):
        tweets.append(status)
    return tweets

In [3]:
search_keywords = "Storm OR Winter OR Canada OR Temperature OR Flu OR Snow OR Indoor OR Safety"
tweets = extract_tweets(search_keywords)

In [4]:
timeOfTweets=[]
print(tweets[0].created_at)
for tweet in tweets:
    timeOfTweets.append(tweet.created_at)

2020-12-05 21:05:04

In [5]:
createdAtdata = []
for timeformat in timeOfTweets:
  time = {
      "timestamp": ""
  }
  timestamp = datetime.datetime.timestamp(timeformat)
  time["timestamp"] = timestamp
  createdAtdata.append(time)

In [6]:
import pandas as pd
df = pd.DataFrame(createdAtdata)

In [7]:
df = df.iloc[:1000,:]
df

        timestamp
0    1.607202e+09
1    1.607202e+09
2    1.607202e+09
3    1.607202e+09
4    1.607202e+09
..            ...
995  1.607202e+09
996  1.607202e+09
997  1.607202e+09
998  1.607202e+09
999  1.607202e+09

[1000 rows x 1 columns]

In [8]:
df.sample(frac=1)

        timestamp
227  1.607202e+09
511  1.607202e+09
459  1.607202e+09
153  1.607202e+09
298  1.607202e+09
..            ...
738  1.607202e+09
80   1.607202e+09
51   1.607202e+09
497  1.607202e+09
676  1.607202e+09

[1000 rows x 1 columns]

In [9]:
df.to_csv("createdAtdata.csv", index = False)